<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    {% block head %}{% endblock %}
    <script>
        function confirmDeletion() {
            var result = confirm("Are you sure you want to delete?");
                if (result) {
                    // User clicked "OK"
                    // Perform the deletion logic here
                    alert("Deletion successful!");
                } else {
                    // User clicked "Cancel" or closed the dialog
                    console.log("Deletion canceled.");
                }
        }
    </script>
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>