{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body %}

    <div class="content">
        <a href="/">Return to main page</a>
    </div>

    {% if entities|length < 1 %}
    <h4 style="text-align: center">There are no saved entities.</h4>
    {% else %}

        <table>

        <tr>
                <th>Headline</th>
                <th>Entity</th>
                <th>Word Start</th>
                <th>Word End</th>    
                <th>Sentence ID</th>    
            </tr>
            
            {% for entity in entities %}
            <tr>
                <td>{{entity.art_headline}}</td>
                <td>{{entity.entity_text}}</td>
                <td>{{entity.word_index_start}}</td>
                <td>{{entity.word_index_end}}</td>
                <td>{{entity.sentence_id }}</td>
            </tr>
            {% endfor %}
    
        </table>

    {% endif %}

{% endblock %}
