{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body %}

    <div class="content">
        <a href="/">Return to main page</a>
    </div>

    {% if verbs|length < 1 %}
    <h4 style="text-align: center">There are no saved verbs.</h4>
    {% else %}
    <h2>{{ verbs[0].art_headline }}</h2>
    <table>
        <tr>
            <th>Verb</th>
            <th>Lemma</th>
            <th>Index</th>
            <th>Sentence ID</th>    
            <th>Word in Sentence Index</th>
        </tr>
            
        {% for verb in verbs %}
        <tr>
            <td>{{verb.verb_text}}</td>
            <td>{{verb.lemmatized_text }}</td>
            <td>{{verb.article_word_index}}</td>
            <td>{{verb.sentence_id}}</td>
            <td>{{verb.sent_word_index }}</td>
        </tr>
        {% endfor %}

    </table>
    {% endif %}

{% endblock %}